
/* css for page 1 */



body { 
  margin: 16px; 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #ffb3b3;
}
  

.main-panel { display: flex; gap: 8px; }

.content-block {padding: 16px; color: #000;}

.green {background: #c8f7c5; flex: 1;}

.yellow { background: #fff3b0; flex: 1; }

.red { background: #ffb3b3; flex: 2; }

/* css for page 2 */

#content {
  width: 50%;
  max-width: 800px;
  font-family: sans-serif;
  color: navy;
}

h1 {
  font-size: 4rem;
  border-bottom: 4px solid navy;
  margin: 25px 0;
}

p { font-size: 1.5rem; }

.photo-container {
  float: right;
  width: 50%;
  min-width: 230px;
  margin: 0 0 15px 25px;
  background: navy;
  color: gainsboro;
}

.photo-container img { 
  width: 100%; 
  display: block; 
}

.caption { 
  font-size: 16px; 
  padding: 0 10px; 
  font-style: italic; 
}

a { color: crimson; 
  text-decoration: none; 
}

a:hover { background: navy; color: gainsboro; }



/* css for page 3 / Hover Effects  */

#content {
    width: 600px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
  }
  
  .hide {
    color: transparent;
    border-bottom: 1px dotted blue;
  }
  
  .hide:hover {
    color: #f00;
    cursor: pointer;
  }
  
/* css for page 4 / positions */

body {
    height: 4000px;
    font-family: monospace;
    font-size: 14px;
    background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
  }
  
  #fixed { position: fixed; left: 10px; top: 50px; text-align: right; }
  
  #cat { position: absolute; left: 2000px; top: 2500px; font-size: 12px; padding: 0 150px; }
  
  #wrong { position: absolute; left: 3500px; top: 3500px; font-size: 18px; padding: 100px; }
  
  #clue { position: absolute; left: 0; top: 3500px; font-size: 18px; padding: 100px; }
  
  a { color: #000; background: #fdbb2d; text-decoration: none; }
  a:hover { text-decoration: underline; }
  
