#content {
    width: 600px;
    border: 10px solid rgb(255, 117, 140);
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    background-color: rgb(255, 177, 129);
    
}

.hide {
    color: transparent;
    border-bottom: 5px dotted rgb(182, 0, 199);
}

.hide:hover {
    color: greenyellow;
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(images/clouds-final.gif);
    background-repeat: repeat;

}